# Google Gemini API
GOOGLE_API_KEY=AIzaSyAbqEsa8w7-3w4F9eNeEA_tcrs_rl6Gnks

# MySQL Database
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Arun@ad038
MYSQL_DATABASE=askql_demo

# Chroma
CHROMA_PERSIST_DIR=./chroma_db
